@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

#chapter-1-7 > blockquote > p,
#chapter-1-12 > blockquote > p{
	text-align: center;
	text-indent: 0;
	margin: .5em 0 0;
}

#chapter-1-7 > blockquote > p:first-child,
#chapter-1-12 > blockquote > p:first-child{
	margin-top: 0;
}

@supports (display: flex) {
	#chapter-1-12 > blockquote > p:last-child{
		display: flex;
		justify-content: space-between;
	}
}

#chapter-2-8 > blockquote > p{
	text-align: center;
	text-indent: 0;
}

#chapter-2-8 > blockquote > p:last-child{
	text-indent: 6em;
}
