@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-1-7 > blockquote > p,
#chapter-1-12 > blockquote > p{
	text-align: center;
	text-indent: 0;
	margin: .5em 0 0;
}

#chapter-1-7 > blockquote > p:first-child,
#chapter-1-12 > blockquote > p:first-child{
	margin-top: 0;
}

@supports (display: flex) {
	#chapter-1-12 > blockquote > p:last-child{
		display: flex;
		justify-content: space-between;
	}
}
